a {
  color: white;
}

#banner {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.yoprogramo {
  position: relative;
  transform: translateY(25%);
  color: white;
  font-size: larger;
}

#icons a {
  margin-right: 20px;
}

a {
  text-decoration: none;
}

#scroll {
  position: relative;
  margin-top: 70px;
  margin-bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,0);
  border: none;
  color: white;
  :hover {
    color: black;
  }
  animation: scrolling 1.2s infinite ease-in;
}

@keyframes scrolling {
  0% { margin-top: 70px; margin-bottom: 40px }
  50% { margin-top: 80px; margin-bottom: 30px }
  100% { margin-top: 70px; margin-bottom: 40px }
}

@media only screen and (max-width: 400px) {
  #scroll {
    opacity: 0;
  }
}