<div id="contenedor">
  <video autoplay muted loop id="myVideo">
    <source [src]="'assets/images/SomberSmallAardwolf.mp4'" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="con typewriter">
    <img [src]="'assets/images/photo.jpg'" alt="foto" id="photo">
    <h1>Alan Márquez</h1>
    <h2>Full Stack Developer Jr.</h2>
  </div>
  <div id="texto" data-aos="zoom-in-right">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus ut purus nec sagittis. Vestibulum non rutrum
    massa, condimentum tempor turpis. Vivamus congue libero nunc, ac rhoncus eros pulvinar id. Donec lacinia tellus a
    felis lobortis, quis interdum augue tempus. Fusce semper bibendum dolor, vitae vehicula ex. Quisque suscipit
    lacinia leo, vel porta erat egestas eget. Sed porta enim eget interdum tincidunt. Nulla tincidunt vitae ligula
    hendrerit maximus.
  </div>
</div>
