<div id="contenedor">
  <video autoplay muted loop id="myVideo" oncontextmenu="return false;" >
    <source [src]="'assets/images/SomberSmallAardwolf.mp4'" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="con ">
    <img [src]="'assets/images/photo.jpg'" alt="foto" id="photo">
    <h1>Alan Márquez</h1>
    <h2 class="typewriter">Full Stack Developer Jr.</h2>
  </div>
  <div id="texto" class="text-center" data-aos="zoom-in-right">
    I got interested in computers for the first time when, after having played for some months, I came across the
    existence of Blender, an open-source 3D creation suite. Although somewhat confusing -as I was 9y.o.- discovering the
    great possibilities of 3D modeling was deeply fascinating. From that time on my journey of learning has been
    directed by my curiosity, which drove me to keep up with a self-taught pace, based on the pursuit of achievable
    goals through constant practice.
  </div>
</div>