/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  box-sizing:border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #161616;
  color: white;
  /* background-image: url('assets/images/back.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0% 20%; */
  font-family: JosefinSans;
}

body::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('assets/images/back.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0% 20%;
  will-change: transform;
  z-index: -1;
}

@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans"), url(./assets/fonts/JosefinSans-VariableFont_wght.ttf) format("truetype");
}

/*
.titleH {
  background-color: #232323;
  position: relative;
  width: 100%;
  height: 80px;
  margin: 40px 0;
  h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
  }
}
*/

.titleH {
  position: relative;
  width: 70%;
  height: 80px;
  margin: 40px auto;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
  }
}